 .Login-form-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100vw;
    height: 100vh;
    background-color: #009641;
  }
  
  .Login-form {
    width: 420px;
    height: max-content;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
  }
  
  .Login-form-content {
    padding-left: 12%;
    padding-right: 12%;
    font-family: 'Inter', sans-serif;
    color: #3F497F;
  }
  
  .Login-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    font-weight: 600;
  }

  .Login-form-name {
    text-align: left;
    font-size: 18px;
  }

  .Login-form-container .form-group input {
  background-color: #D9D9D9;
  border-radius: 30px;
  border: none;
  padding: 8px;
  padding-left: 18px;
  padding-right: 18px;
}

.btn-login {
  background-color: #F7C04A !important;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  padding: 10px;
  color: #3F497F;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.button-container {
  align-items: center;
  justify-content: center;
}


.logo-containerL {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoL {
    height: 200px;
    width: auto;
    align-items: center;
}