.content{
    margin: 0px 70px;
}

.header_title{
    font-weight: bold;
    text-align: left;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.form_grp{
    margin-top: 3%;
    margin-left: 5%;
    width: 60%;
    text-align: left;
    font-family: sans-serif;
}

.control_input{
    background-color: #D9D9D9;
    border-radius: 30px;
    border: none;
    padding: 8px;
}

.changePwd_btn{
    background-color: #F7C04A;
    font-size: 15px;
    border-radius: 100px;
    margin-top: 3%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    padding: 13px;
    width: 150px;
}