<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <style>
        .container {
            font-family: Arial, sans-serif;
            padding: 20px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            max-width: 600px;
            margin: auto;
        }
        .button {
            background-color: #007bff;
            color: white !important;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Restablece tu Contraseña</h2>
        <p>Hola,</p>
        <p>Hemos recibido una peticion para cambiar tu contraseña. Porfavor haz clic en el siguiente boton que aparece abajo para cambiar tu contraseña:</p>
        <p>
            <a href="{{ reset_link }}" class="button">Cambia tu Contraseña</a>
        </p>
        <p>Si no pediste este correo, ignoralo por favor!</p>
        <p>Gracias!</p>
        <p>Bazar Hospital Niño Poblano</p>
    </div>
</body>
</html>
