

.row{
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.75rem
}

.centered{
    justify-content: center;
}

.col{
    font-weight:700;
}


@media (max-width: 1300px) {

    .statisticsCardsRow{
        display: block;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

}

