*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.nav-bar-container{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.nav-custom {
    background: #539165;
    place-self: start;
    height: 108px;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 0;
    z-index: 12;
    border-bottom: 8px solid #F7C04A;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 0px;
}

.logo {
    height: 100px;
    object-fit: fill;
}

.bars {
    display: none;
    color: #F7C04A;
}

@media screen and (max-width: 768px) {
    .bars {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 75%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .nav-menu {
        display: none;
    }
}

.nav-menu {
    display: flex;
    align-items: left;
    margin-right: 0px;
}

.nav-link {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 50px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 20px;
    height: 100%;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.nav-link.active {
    color: #F7C04A;
	font-weight: bold;
}

.nav-link:hover {
    color: #F7C04A;
}

.nav-btn {
    display: flex;
    align-items: center;
    margin-right: 80px;
    margin-left: 80px;
}

.nav-btn-link {
    font-size: 16px;
    border-radius: 100px;
    background: #F7C04A;
    padding: 15px 22px;
    color: #000000;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin-left: 24px;
    font-family: 'Inter', sans-serif;
}

.nav-btn-link:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #808080;
}
