/* Copyright 2024 BitBrothers
 * File: DateRangePicker.module.css
 * Type: css file */

.row {
    gap: 12px;
}

.col input {
    border-color: #F7C04A !important;
}

.label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}
  
.dateInput {
    width: 100%;
    display: block !important;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 3px solid #F7C04A;
    border-radius: 15px;
    text-align: center;
}

.pickerWrapper {
    display: block;
}

input:focus {
    border-radius: 15px !important;
    border: 3px solid F7C04A;
    border-radius: 3px;
    outline:none;
    }

.dash {
    display: none;
}

.dash span {
    margin-top: 15px;
}

@media (min-width: 768px) {
.dash {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
}


