.tableCustom {
	margin: 30px;
	background: #539165;
	background-color: #539165;
	color: red;
}

.tableHeadCustom {
	background-color: #539165;
	background: #539165;
	color: #539165;
}

.estadoVacio {

}